* {

    margin: 0;
    padding: 0;

}

header {

    background-color: #fcfaee;

}

.header {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10vw;

}

header img {

    width: 30px;
    height: 30px;

}

.logo img {

    width: 105px;
    height: 105px;
    padding: 20px;

}

main {

    background: linear-gradient(to bottom, #071A2B, #39648a);
    height: 400vh;
    margin: 0;

}

.texts {

    display: flex;
    flex-direction: column;
    align-items: center;    

}

.texts h1 {

    font-family: "Merriweather", serif;
    font-size: 25px;
    color: #18a3df;
    padding-top: 20px;

}

.texts p {

    color: white;
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    padding-top: 20px;
    width: 85%;

}

.texts img {

    width: 300px;
    border-radius: 40px;
    padding-top: 20px;
    margin-bottom: 30px;

}